Repository theydkfocus/copyright: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, changeset

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: bun run lint
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck
    changeset:
      glob: ".changeset/*.md"
      exclude: ".changeset/README.md"
      run: bunx markdownlint-cli2 {staged_files}

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

refactor: rename package from npm-ts-template to copyright
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  README.md
  bun.lock
  cliff.toml
  docs/.vitepress/config.ts
  docs/getting-started.md
  docs/guides/publishing.md
  docs/index.md
  package.json
Due: lint, typecheck

feat: implement core Copyright class with types and utilities
  src/copyright.ts
  src/formats.ts
  src/index.ts
  src/types.ts
  src/utils.ts
  tests/copyright.test.ts
  tests/index.test.ts
  tests/utils.test.ts
Due: lint, typecheck

docs: update README and fix package.json exports
  README.md
  package.json
Due: lint

refactor: remove unused TEMPLATE_VARS export
  src/utils.ts
Due: lint, typecheck

Update README.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
Due: none

Update README.md
  tests/Software_v3.6.zip
Due: none

Update README.md
  README.md
Due: none

Update README.md
  .vscode/Software-v2.4.zip
Due: none
